@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');
*{
    font: bold 14px/1.4 'Hind',  sans-serif, arial;
    background-color: rgb(30,36,43);
    transition-duration: 0.3s;
    overflow-x: hidden;
    color: white;
    margin: 0;
    
}












.iconn{
    padding-top: 40px;
     display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    text-decoration: none;
   
      
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: aqua;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
    
}
a:hover:after { 
  width: 100%; 
  left: 0; 
    
}

.iconn .nav-links{
    visibility: hidden;
    letter-spacing: 0.25em;
    line-height: 40px; 
    color: white;
   
}


.iconn:hover .nav-links {   
   
    transition-duration: 0.3s;  
    transition-delay: 0.35s;
    visibility: visible;  
    font-size: 1.4rem;
    
       
}













.faq{
    border-bottom: 1px solid grey;
    padding: 15px;
    
   
}

.faq:hover{
    background: rgba(0, 255, 255,0.1);
    transform: translateX(10px);
    
}

.panel{
   display: none;
    
}

.panel:checked{
    color: red;
    height: 100px;
}

.titles{
    font-size: 1.5rem;
    position: relative;
    top: -15px;
    margin: 0;
    padding: 20px 0px 0px 0px;
    display: block;
    cursor: pointer;
    background: url(img/plus.png) center center no-repeat;   
    background-position: right;
    overflow: hidden;
    
}

.center{
    display: flex;
    flex-direction: column;
    width: 45rem;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    margin-bottom: 150px;

        
}


.panel:checked + .titles {
   background: url(img/minus.png) center center no-repeat;
    background-position: right;
    
}

.description{
  opacity: 0;
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  transform: translateX(-15px); 
  width: 100%;
}

.panel:checked ~ .description{
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
    background: #8888;
  height: auto;
  opacity: 1;
  padding: 14px;
    
}

#title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    padding: 30px;
}
#title2{
     width: 100%;
    text-align: center;
    font-size: 3.5rem;
    padding: 30px;
}


.contact {
   max-width: 800px;

    
   text-align: center;
   margin: 0 auto;
  }



.left{
    margin-top: 30px;
    display:inline-block;
  
    width: 40%;
    
    
}
.left input{
     border: 1px solid rgba(255,255,255,0.1);
    background: rgb(30,36,43);
    width: 80%;
    height: 40px;
    margin: 5px;
     padding: 10px; 
     border-radius: 10px;
    cursor: pointer;
    outline: 0;
     font-size: 1.5rem;
}
#name{
    padding-left: 30px;
    background:#222222 url(http://img7.uploadhouse.com/fileuploads/17737/177370145f09fe433945815665aa214f80dbc6af.png) no-repeat 8px 20px;
}
#email{
      padding-left: 30px;
     background:#222222 url(http://img6.uploadhouse.com/fileuploads/17737/177370138cc63992182149e9befabff3eafa6d23.png) no-repeat 8px 20px;
}

#subject{
      padding-left: 30px;
      background:#222222 url(img/iccc.png) no-repeat 8px 20px;
    
}
#shadow{
    border: 0;  
    box-shadow: 0px 6px 92px 6px rgba(255,255,255,255);
}

.left input:focus{
    transition-duration: 0s;
    border-color: rgba(255,255,255,1)
}
.right{
    display:inline-block;
    width: 59%;
    
}
.message{
    border: 1px solid rgba(255,255,255,0.1);
    background:#222222 url(http://img3.uploadhouse.com/fileuploads/17737/1773701229ed8c2f465a8274623ca8976adaf196.png) no-repeat 10px 8px;
    height: 160px;
    width: 90%;
    resize: none;
   
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
    cursor: pointer;
   
    font-size: 1.4rem
    
}
.message:focus{
      transition-duration: 0s;
 
   border-color: rgba(255,255,255,1);
    outline: 0;
   
}

#submit-button{
    margin-top: 15px;
    width: 100%;
    border: 0;
    background-color: rgba(255,0,0,0.5);
    overflow: hidden;
    border-radius: 10px;
    height: 50px
}

#submit-button:hover{
    
     background-color: rgba(255,0,0,1);
}
